/* style_login.css */
body {
    background: #0d0b14;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: 'Roboto';
}

.login-container {
    text-align: center;
    background: #1a1a1a;
    padding: 50px;
    border-radius: 15px;
}

h1 {
    font-family: 'Orbitron';
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.campo-login {
    display: block;
    width: 100%;
    background: transparent;
    margin-bottom: 20px;
    padding: 12px;
    color: #fff;
    border: 1px solid #6f42c1;
}

button {
    width: 100%;
    padding: 12px;
    background: #6f42c1;
    border: none;
    color: #fff;
    font-family: 'Orbitron';
    cursor: pointer;
}

.volta {
    display: block;
    margin-top: 15px;
    color: #6f42c1;
    text-decoration: none;
}