body { background: #0d0b14; display: flex; justify-content: center; align-items: center; height: 100vh; }
.box-contato {
    background: #16141d;
    padding: 40px;
    width: 400px;
    box-shadow: 0 0 40px rgba(111, 66, 193, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
h2 { font-family: 'Orbitron'; color: #fff; margin-bottom: 20px; }
input, textarea { background: #000; border: 1px solid #333; color: #fff; padding: 10px; margin-bottom: 15px; }
button { background: #6f42c1; color: #fff; border: none; padding: 12px; cursor: pointer; font-family: 'Orbitron'; }
a { color: #555; text-align: center; margin-top: 10px; text-decoration: none; font-size: 0.8rem; }